 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This is homepage of HL Granite & Marble. We provide any kind of granite and marble solution, specialist in house renovation, kitchen top, flooring.</p>
                </div>
                <div class="col-lg-4">
                    <p>We also involved in tomb making, Chinese traditional Fengshui, and Malay Batu Nisan. </p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>