<div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
        <div class="lr">
            <div class="rl">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <h2>{{ page.title }}</h2>
                    <hr class="star-primary">
                    <p>{{ page.description }}</p>
                    <article class="post-content">
                        {{ content }}
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>